 ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none !important;
   li {
     background: #fff;
     border-radius: 8px;
     padding: 20px;
     margin-bottom: 8px;
     a {
       display: block;
       font-size: 1.5em;
       text-decoration: none;
       font-weight: bold;
       color: #00A8FF;
       margin-bottom: 5px !important;
     }
     ul {
       li {
         padding: 0;
         a {
           margin-top: 10px !important;
           color: black !important;
           font-weight: 50;
           font-size: 0.8em;
         }
         .website {
           color: rgb(151, 146, 146) !important;
         }
       }
     }
   }
 }
