 ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none !important;
   .post {
     background: #fff;
     border-radius: 8px;
     padding: 20px;
     margin-bottom: 8px;
     .post-title {
       color: rgb(0, 140, 255)
     }
     .post-body {
       font-size: 1em !important;
       padding-left: 0.5em;
     }
   }
 }
